<template>
    <div class="home">
        <layout></layout>
    </div>
</template>

<script>
import layout from "@/Layout/container.vue"
export default {
    components: {
        layout
    }
}
</script>